//main: ../style.less

.header__nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%; 
    
    &_link{
        margin: auto;
        margin-right: 3.3rem;
        position: relative;
        
        &:last-child{
            margin-right: none;
        }
        /*&:hover,
        &.active{
           border-bottom: 2px solid @main_color_black;  
        }*/
        &::after{
            content: "";
            width: 0;
            height: 2px;
            background: @main_color_black;
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            z-index: 1;
            
            transition: width .3s linear;
        }
        &:hover,
        &.active{
            &::after{
                width: 100%;
            }
        }

        @media @tablet{
            width: 100%;

            margin-left: 0;
            padding: 1rem 0;
            margin-right: .5rem;

            &::after{
                display: none;

            }
        }
    }

    &_button{
        background: none;
        border: 2px solid @main_color_black;
        padding: 0.33rem 1.5rem 0.33rem 1.5rem;
        border-radius: 1rem;
        transition: all .5s ease;
        
        &:hover{
            color: @white;
            background: @main_color_black
        }

        @media @tablet{
            width: 100%;
        }
    }

    @media @tablet{
        display: none;

        &.show{
            display: flex;

            position: absolute;
            top: 100%;
            right: 0;
            z-index: 3;

            background: white;
            box-shadow: 0 30px 30px rgba(@gray_color, .7);

            text-align: right;

            height: auto;
            width: 100%;

            padding: 1rem;
        }
    }
}
.header__nav_link, .header__nav_button{
    font-size: 0.93rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: @main_color_black;
    cursor: pointer
}